﻿@model Fizzbuzz.Web.Models.FizzbuzzModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="container">
        <h1> Fizz Buzz </h1>

        @using (Html.BeginForm("Result", "Home", FormMethod.Post))
        {
            <table cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td>Enter number: </td>
                    <td>
                        @Html.TextBoxFor(FizzbuzzModel => FizzbuzzModel.inputString)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        }

    </div>

</body>
</html>
