﻿@model Fizzbuzz.Web.Models.FizzbuzzModel
@{
    Layout = null;
}

@using PagedList.Mvc;
@using PagedList;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="container">
        <h1> Result </h1>
        <p> Number: @Model.inputString  </p>

        @if (Model != null)
        {
            <div class="center-div">
                @foreach (string FizzbuzzString in Model.outputList)
                {
                    <p class="fizzbuzzString" fizzbuzzString="@FizzbuzzString">@FizzbuzzString </p>
                }
            </div>
            string inputString = Model.inputString;

            @Html.PagedListPager((IPagedList)Model.outputList, page => Url.Action("Result", new { page, inputString }))
        }

        <br /><br /><br />
        <button onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"> Try again </button>
    </div>

</body>
</html>
